<header>
  <h1>CRUD ANGULAR + FIREBASE</h1>
</header>

<div class="container"> <!--este div contiene la operacion-->
  <div class="add"> <!--la carga del elemento-->
    <input 
      type="file"
      #file
      class="input-file"
      (change)="onFilesAdded($event.target)"
    />
    <img (click)="addFiles()" class="upload" [src]="url" alt="" />
    <!--usuario de twitter-->
    <input
      type="text"
      placeholder="Nombre imagen"
      [value]="name"
      (keyup)="onKey($event)"
    />
    <!--botón :)-->
    <button class="button" (click)="add()">Agregar</button>
  </div>
</div>

<div class="container"> <!--este div contiene la que voy a mostrar-->
  <div class="card" *ngFor="let speaker of speakerList | async">
    <img (click)="select(speaker)" [src]="speaker.url" />
    <p>{{speaker.name}}</p>
    <p class="delete" (click)="remove(speaker.id)">❌</p>
  </div>
</div>
<div >
</div>
<audio src="https://firebasestorage.googleapis.com/v0/b/borrador-a0724.appspot.com/o/songs%2FX2Download.com%20-%20Alan%20Walker%20-%20The%20Spectre%20(320%20kbps).mp3?alt=media&token=248f0869-f4b4-4401-b6c3-404ed6cb191f"></audio>

<!--
<div> 
  <input 
    type="file"
    #file
    (change)="onSongAdded($event.target)"
  />
  <button (click)="addSong()" alt="" >Agregar cancion</button>/>
  <input
    type="text"
    placeholder="Nombre cancion"
    [value]="name"
    (keyup)="onKeySong($event)"
  />
  
  <button class="button" (click)="addMusic()">Agregar</button>
</div>
<div *ngFor="let song of songList">
  <audio [src]="speaker.url" controls></audio>
  <p>{{speaker.name}}</p>
  <p class="delete" (click)="removeSong(speaker.id)">❌</p>
</div>
-->